<h1><%=name %>..</h1>
<p>
ID:<%=sbook.id %><br>
Name:<%=sbook.name %><br>
Author:<%=sbook.author %><br>
Created At:<%=sbook.createdAt %><br>
Last Updated:<%=sbook.updatedAt %><br>

</p>
<h2><a href="/books/update?id=<%=sbook.id %>">Update</a></h2>